<!doctype html>
<html ng-app="yoba-example">
<head>
    <meta charset="utf-8"/>
    <title>Yoba example</title>
    <link rel="stylesheet" href="/styles.css" media="all">
    <script src="/angular/angular.js"></script>
    <script src="/scripts.js"></script>
</head>
<body>
    <div class="buttonlist" ng-controller="ButtonList">
        <div ng-repeat="button in buttons">
            <form ng-submit="select(button.to)">
                <button role="submit">{{button.name}}</button>
            </form>
        </div>
    </div>
</body>
</html>
